<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd"
                           default-autowire="byName">
                           
	<!-- Beans -->
	
	<!-- HIBERNATE SESSION FACTORY -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configurationClass" value="com.dmma.askfm.core.configuration.ApplicationDBConfiguration" />
	</bean>

	<!-- DAO -->
	<bean id="questionDAO" class="com.dmma.askfm.db.daos.QuestionDAO" />
	
    <!-- Services -->
 	<bean id="questionAppService"  class="com.dmma.askfm.core.services.QuestionAppServiceImpl" scope="singleton"/>
              
 	<!-- DataInitializers -->
	<bean name="dataInitializer" class="com.dmma.askfm.core.datainitializer.DataInitializer" scope="singleton">
		<property name="questionDAO" ref="questionDAO" />
		<property name="ready" value="true"/>
	</bean>
 	
 	
</beans>
